<p id="notice"><%= notice %></p>

<p>
  <strong>Type account:</strong>
  <%= @type_account.type_account %>
</p>

<%= link_to 'Edit', edit_type_account_path(@type_account) %> |
<%= link_to 'Back', type_accounts_path %>
