<p id="notice"><%= notice %></p>

<p>
  <strong>Type debt:</strong>
  <%= @type_debt.type_debt %>
</p>

<%= link_to 'Edit', edit_type_debt_path(@type_debt) %> |
<%= link_to 'Back', type_debts_path %>
